.contact-us .container {
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 120rem;
  display: flex;
}

.container .left {
  margin-right: 4rem;
  margin-left: 4rem;
}

.container .left,
.container .right {
  width: 50%;
}

.contact-us h1,
h3,
p {
  font-family: var(--playfair-display);
  font-weight: var(--playfair-normal);
}

.contact-us h1 {
  font-size: 4rem;
  letter-spacing: 0.7rem;
}

.contact-us .image {
  max-width: 60rem;
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin-top: 6rem;
}

.details p {
  font-size: 1.4rem;
  letter-spacing: 0.11rem;
  color: #777;
}

.details div:not(:last-child) {
  margin-bottom: 2.4rem;
}

/* form */

.links {
  margin-top: 60px;
  text-align: center;
}
.links .item {
  background: #4485c5;
  color: #fff;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  position: relative;
  z-index: 5;
  text-align: center;
}
.links .item i {
  font-size: 30px;
  padding-top: 10px;
  z-index: 888;
  position: relative;
}
.links a {
  position: relative;
  display: inline-block;
  width: 150px;
  border-radius: 50px 50px;
  overflow: hidden;
  transform: translateX(52px);
  transition: 0.3s;
}
.links .follow {
  position: absolute;
  left: -100px;
  top: -1px;
  visibility: hidden;
  background: #4485c5;
  /* 	height: 50px; */
  width: 100px;
  /* 	opacity: 0; */
  color: #fff;
  padding: 17px 0;
  font-size: 14px;
  padding-left: 20px;
  transition: 0.3s;
  border-radius: 50px 50px;
}
.links a:hover .follow {
  left: 10px;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
}
.links a:hover {
  transform: translateX(10px);
  transition: 0.3s;
}

.foot {
  font-size: 14px;
  text-transform: normal;
  color: #777;
  margin-top: 20px;
  text-align: center;
}
.foot a {
  text-decoration: none;
  color: #777;
}

.contact-us h3 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 400;
}

/* wraps */

.wrap-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap-column {
  display: flex;
  flex-direction: column;
}

/* end wraps */

/* Inputs style */

.brise-input {
  max-width: 40rem;
  width: 90%;
  position: relative;
  margin: 0.5rem;
  overflow: hidden;
  padding-top: 1.5rem;
  font-size: 1.4rem;
}

.brise-input input {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #999;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-weight: var(--manrope-medium);
  position: relative;
  z-index: 5;
  background: none;
  font-family: var(--manrope);
}

.brise-input input:focus ~ label,
input:valid ~ label {
  top: 0px;
  transform: scale(0.94) translateX(-2px);
  color: var(--color-primary);
}

.brise-input .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: var(--color-primary);
  left: -999px;
  transition: 0.25s;
  opacity: 0;
  z-index: 6;
}

.brise-input input:focus ~ .line {
  left: 0;
  opacity: 1;
}

.brise-input label {
  position: absolute;
  left: 10px;
  top: 45%;
  transition: ease-out 0.15s;
  color: #999;
}

/* End Inputs */

/* Textarea style */

.brise-text {
  margin: 0.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 1.5rem;
  font-size: 1.4rem;
}

.brise-text textarea {
  width: 90% !important;
  padding: 1rem;
  border: none;
  outline: none;
  border: 1px solid #999;
  box-sizing: border-box;
  font-size: 1.4rem;
  position: relative;
  z-index: 5;
  background: none;
  resize: none;
  font-family: var(--manrope);
  font-weight: var(--manrope-medium);
}

.brise-text label {
  position: absolute;
  top: 2rem;
  left: 1rem;
  color: #999;
  opacity: 1;
  transition: 0.15s;
}
.brise-text textarea:focus ~ label,
textarea:valid ~ label {
  opacity: 0;
}

.brise-btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 1.2rem 4rem;
  cursor: pointer;
  margin-top: 2rem;
  outline: none;
  border: none;
  background: var(--color-primary);
  color: white;
  border-radius: 4px;
  font-family: var(--manrope);
  font-weight: var(--manrope-medium);
  margin-bottom: 5.6rem;
}

@media screen and (max-width: 1200px) {
  .contact-us .container {
    max-width: 94rem;
  }

  .container .right {
    margin-top: 12rem;
    margin-left: 4rem;
  }

  .container .left,
  .container .right {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .contact-us .container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  .contact-us h1 {
    font-size: 3.2rem;
  }

  .container .right,
  .container .left {
    margin-left: 2.4rem;
  }
}
