.full-text {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.6rem;
}

.full-text p {
  font-family: var(--manrope);
  font-weight: var(--manrope-regular);
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: #777;
}

@media screen and (max-width: 1200px) {
  .full-text {
    max-width: 94rem;
  }
}

@media screen and (max-width: 900px) {
  .full-text {
    max-width: 74rem;
  }
}

@media screen and (max-width: 768px) {
  .full-text {
    max-width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .full-text {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 375px) {
  .full-text p {
    font-size: 3.7vw;
    line-height: 1.8;
  }
}
